body{
    background-color:lightpink;
}
img{
    height: 150px;
    border-color: black;
}
.coprightfooter{
    bottom: 0;
    color:black ;
    width: 100%;
    background-color:lightgrey ;
    line-height: 3;
    text-align: center;
    height: fit-content;
    font-size: small;
    position: fixed;
}